.error {
  /* padding: 1rem!important; */
  color:rgb(255, 255, 255);
  margin-top: 3rem;
  text-align: center;
}

.resultados {
  margin: 0px;
  padding: 0px;
}

#map { 
  width: 100%;
  height: 300px; 
}

.transparentBG {
  background-color: rgba(231, 212, 212, 0);
}

.transparentBG1 {
  background-color: rgba(255,255,255,0.8);
}

.branco {
  background-color: #e8e8ec;
  color: rgb(12, 12, 12);
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
}

.app:before {
  content: "";
  background: url("./assets/mapa2.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}


.app .form {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}


.app .titulo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}